
a:link,a:visited{
  color: inherit;
}
nav a:hover{
color: #E6E6E6;
text-decoration: none;
}
nav{
  display: inline-block;
  width: 100%;
  height: 60px;
  background-color: black;
padding-top: 10px
}

.logo{
    font-size: 20px;
	  padding-left: 50px;
    color: white;
}
nav ul {
    color: white;
    float: right;
	  margin-right: 25px;
 }
nav ul li{
    display: inline;
	  font-size: 20px;
	  margin-right: 15px;
	}

#row1{
    width: 100%;
    padding: 30px 30px 30px 30px; 
    background-color: #CCCCCC;
    color: black;
}

#row2{
    width: 100%;
    padding: 30px 30px 30px 30px;
    background-color: #CCCCCC;
    color: black;
}

#row3{
    width: 100%;
    padding: 30px 30px 30px 30px;
    background-color: #CCCCCC;
    color: black;
  }
#row4{
    width: 100%;
    padding: 30px 30px 30px 30px;
    background-color: #CCCCCC;
    color: black;
  }

#video{
  width: 500px;
  height: 300px;
  border-radius: 20px;
}
#col1,#col3,#col5,#col7{
 max-width: fit-content;
}
#col2,#col4,#col6,#col8{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#h3{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 20px;
  font-weight: 900;
}
#h4{
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
