<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="exercisewiki.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
    <title>ExerciseWiki</title>
</head>
<body>
    <div class= "row">
		<!--navigation bar-->
		<nav>
		   <label class="logo">Gym Pose</label>
			<ul>
				 <li><a href="homepage.html">Home<i class="fa fa-fw fa-home"></i></a></li>
				 <li><a href="exercisewiki.html">ExerciseWIKI<i class="fa fa-book"></i></a></li>
				 <li><a href="login.html" onclick="signOut()">SignOut<i class="fa fa-fw fa-user"></i></a></li>
		    </ul>
		</nav>
    <div class="row" id="row1">
      <div class="col" id="col1">
        <h3 id="h3">BENCHPRESS</h3>

        <div class="feature-vid">
         <video controls loop  id="video">
           <source src="C:\Users\ryanv_k78mbsh\Desktop\FINAL\MovenetTest\files\HowToBenchPress.mp4">
         </video>
        
        </div>

      </div>
       
      <div class="col" id="col2">
          <h4 id="h4">How To Bench Press</h4> 
           <br>
           <b> Your Feet</b>
           <br>
           Although your foot placement isn't as crucial on the bench as it is 
           for the deadlift or squat, it's still important. Your feet are the 
           start of a strong base and are where you'll draw your power from.
           Try to keep your feet back toward your butt as far as you can while 
           still keeping them flat on the ground. Depending on your height and 
           body type, this is going to look a little different for everyone. 
           The point, though, is to plant your feet firmly so you can generate 
           power from the ground through your entire body.
           <br>
           <b> Yourself Under The Bar</b>
           <br>
           Like your foot placement, your back position is going to look unique 
           to you based on your build and mechanics. Essentially, though, you 
           should set up far enough under the bar that it's easy to unrack, but 
           not so far under it that you hit the pegs on the way up. Squeeze your 
           shoulder blades together to stay tight and protect your shoulders. 
           Imagine trying to crush a grape between your shoulder blades, and 
           push your upper back into the bench.
          <br>
          <b> Your Back</b>
          <br>
          This is a little bit of a controversial topic, especially among 
          bodybuilders. Many bodybuilders think that arching your back is just 
          a powerlifting move, but arching your lower back will actually help 
          you maintain a neutral spine and keep your back tight and protected 
          as you press.     
      </p>
      </div>
    </div>

    <div class="row" id="row2">
      <div class="col" id="col3">
        <h3 id="h3">DEADLIFT</h3>
        <div class="feature-vid">
          <video controls loop  id="video">
            <source src="C:\Users\ryanv_k78mbsh\Desktop\FINAL\MovenetTest\files\HowToDeadlift.mp4">
          </video>  
        </div>
       
      </div> 
      <div class="col" id="col4">
           <h4 id="h4">How To Deadlift</h4>
           <br>
           <b>Set Your Feet</b>
           <br>
           Although your foot placement isn't as crucial on the bench as it is 
           for the deadlift or squat, it's still important. Your feet are the 
           start of a strong base and are where you'll draw your power from.
           Try to keep your feet back toward your butt as far as you can while 
           still keeping them flat on the ground. Depending on your height and 
           body type, this is going to look a little different for everyone. 
           The point, though, is to plant your feet firmly so you can generate 
           power from the ground through your entire body.
           <br>
           <b>Yourself Under The Bar</b>
           <br>
           Like your foot placement, your back position is going to look unique 
           to you based on your build and mechanics. Essentially, though, you 
           should set up far enough under the bar that it's easy to unrack, but 
           not so far under it that you hit the pegs on the way up. Squeeze your 
           shoulder blades together to stay tight and protect your shoulders. 
           Imagine trying to crush a grape between your shoulder blades, and 
           push your upper back into the bench.
          <br>
          <b> Your Back</b>
          <br>
          This is a little bit of a controversial topic, especially among 
          bodybuilders. Many bodybuilders think that arching your back is just 
          a powerlifting move, but arching your lower back will actually help 
          you maintain a neutral spine and keep your back tight and protected 
          as you press.     
      
      </div>
         
    </div>
    <div class="row" id="row3">
      <div class="col" id="col5">
        <h3 id="h3">OVERHEAD PRESS</h3>
        <div class="feature-vid">
          <video controls loop  id="video">
            <source src="C:\Users\ryanv_k78mbsh\Desktop\FINAL\MovenetTest\files\HowToOverheadPress.mp4">
          </video>  
        </div> 
      </div> 
      <div class="col" id="col6">
           <h4 id="h4">How to Overhead Press</h4>
           <br>
           <b> Your Feet</b>
           <br>
           Although your foot placement isn't as crucial on the bench as it is 
           for the deadlift or squat, it's still important. Your feet are the 
           start of a strong base and are where you'll draw your power from.
           Try to keep your feet back toward your butt as far as you can while 
           still keeping them flat on the ground. Depending on your height and 
           body type, this is going to look a little different for everyone. 
           The point, though, is to plant your feet firmly so you can generate 
           power from the ground through your entire body.
           <br>
           <b> Yourself Under The Bar</b>
           <br>
           Like your foot placement, your back position is going to look unique 
           to you based on your build and mechanics. Essentially, though, you 
           should set up far enough under the bar that it's easy to unrack, but 
           not so far under it that you hit the pegs on the way up. Squeeze your 
           shoulder blades together to stay tight and protect your shoulders. 
           Imagine trying to crush a grape between your shoulder blades, and 
           push your upper back into the bench.
          <br>
          <b> Your Back</b>
          <br>
          This is a little bit of a controversial topic, especially among 
          bodybuilders. Many bodybuilders think that arching your back is just 
          a powerlifting move, but arching your lower back will actually help 
          you maintain a neutral spine and keep your back tight and protected 
          as you press.     
      
      </div>   
    </div>
    <div class="row" id="row4">
      <div class="col" id="col7">
        <h3 id="h3">SQUATS</h3>
        <div class="feature-vid">
          <video controls loop  id="video">
            <source src="C:\Users\ryanv_k78mbsh\Desktop\FINAL\MovenetTest\files\HowtoSquat.mp4">
          </video> 
        </div>
       
      </div> 
      <div class="col" id="col8">
           <h4 id="h4">How To Squat</h4>
           <br>
           <b>Set Your Feet</b>
           <br>
           Although your foot placement isn't as crucial on the bench as it is 
           for the deadlift or squat, it's still important. Your feet are the 
           start of a strong base and are where you'll draw your power from.
           Try to keep your feet back toward your butt as far as you can while 
           still keeping them flat on the ground. Depending on your height and 
           body type, this is going to look a little different for everyone. 
           The point, though, is to plant your feet firmly so you can generate 
           power from the ground through your entire body.
           <br>
           <b> Yourself Under The Bar</b>
           <br>
           Like your foot placement, your back position is going to look unique 
           to you based on your build and mechanics. Essentially, though, you 
           should set up far enough under the bar that it's easy to unrack, but 
           not so far under it that you hit the pegs on the way up. Squeeze your 
           shoulder blades together to stay tight and protect your shoulders. 
           Imagine trying to crush a grape between your shoulder blades, and 
           push your upper back into the bench.
          <br>
          <b> Your Back</b>
          <br>
          This is a little bit of a controversial topic, especially among 
          bodybuilders. Many bodybuilders think that arching your back is just 
          a powerlifting move, but arching your lower back will actually help 
          you maintain a neutral spine and keep your back tight and protected 
          as you press.     
      
      </div>      
    </div>  
</body>

</html>